:root {
  --water: rgb(43, 115, 248);
  --dark-water: rgb(25, 93, 219);
  --light-water: rgba(0, 225, 255, 0.507);
  --header-yellow: rgb(224, 207, 48);
  --hover-yellow: rgb(223, 209, 85);
}

html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(56, 107, 63);
}

@font-face {
  font-family: "militaryFont";
  src: url("../src/fonts/qt_military/QTMilitary.otf");
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: 0.8fr 8fr;
}

.Header {
  justify-self: center;
  font-size: 1.5rem;
  font-family: "militaryFont";
  color: var(--header-yellow);
  -webkit-text-stroke: 1px black;
}

.Header > h1 {
  margin: 0 0 0 0;
}

/* Initialize Player Page */
.InitializeHuman {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.2fr;
  gap: 10px 0;
}

.ShipSelection {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--water);
  border: 5px outset var(--light-water);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ShipSelector {
  display: flex;
  flex-wrap: wrap;
}

.ShipSelector > img {
  margin: 5px 5px 5px 5px;
}

.Ship4,
.Ship3,
.Ship2,
.Ship1 {
  border: 1px solid var(--water);
}

.Ship4:hover,
.Ship3:hover,
.Ship2:hover,
.Ship1:hover {
  border: 1px solid var(--hover-yellow);
}

.Ship4 {
  height: 4vh;
  width: 16vw;
}

.Ship3 {
  height: 4vh;
  width: 12vw;
}

.Ship2 {
  height: 4vh;
  width: 8vw;
}

.Ship1 {
  height: 4vh;
  width: 4vw;
}

.RotateButton {
  height: 4vh;
  width: 4vh;
}

.RotateButton:hover {
  cursor: pointer;
}

.HumanBoard {
  width: 40vw;
  height: 40vw;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(10, 4vw);
  grid-template-rows: repeat(10, 4vw);
  background-color: var(--water);
  border-top: 2px solid var(--light-water);
  border-left: 2px solid var(--light-water);
}

.PlayerCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--light-water);
  border-bottom: 2px solid var(--light-water);
  font-size: 1.5vw;
}

/* .GameControl {
  width: 90vw;
  background-color: var(--water);
  margin-left: 5vw;
  margin-right: 5vw;
  height: 10vh;
  border: 5px outset var(--light-water);
  border-radius: 10px;
}

.Turn {
  font-family: "militaryFont";
  color: var(--header-yellow);
  font-size: 4vw;
  -webkit-text-stroke: 1px black;
}

.Boards {
  display: grid;
  grid-template-columns: 20vw, 20vw;
  grid-template-rows: 20vw, 20vw;
}

.PlayerBoard {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.ComputerBoard {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.ComputerBoard,
.PlayerBoard {
  justify-self: center;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(10, 4vw);
  grid-template-rows: repeat(10, 4vw);
  background-color: var(--water);
  border-top: 2px solid var(--light-water);
  border-left: 2px solid var(--light-water);
}

.PlayerBoardHeader {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ComputerBoardHeader {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.PlayerBoardHeader,
.ComputerBoardHeader {
  font-size: 4vw;
  -webkit-text-stroke: 1px black;
  font-family: "militaryFont";
  color: var(--header-yellow);
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.PlayerCell,
.ComputerCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--light-water);
  border-bottom: 2px solid var(--light-water);
  font-size: 1.5vw;
}

.ComputerCell:hover {
  cursor: default;
  background-color: var(--dark-water);
}

.MissIcon,
.HitIcon {
  width: 1.5vw;
}

*/
